        
        

<div class = "row articles-container pt-3 ps-5 ms-5 me-5">
    <div class ="col-10 border-bottom">
        <p data-id="{{_id}}">
            {{title}}
            <br>
            <a href="{{link}}" class="link-dark" target="_blank">{{link}}</a> 
        </p>
    </div>
    <div class="col-1 border-bottom">
        <a  href="/articles/{{_id}}" class = "btn btn-secondary notes" data-id="{{_id}}"><i class="fa fa-comments" aria-hidden="true"> Comments</i></a>
    </div>
</div>














